body,
html {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background: linear-gradient(to right, #89f7fe, #66a6ff);
  background: linear-gradient(to right, #00ff7f, #87ceeb);
}

.container {
  display: flex;
  height: 100%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: rgb(2154, 214, 214);
  /* max-width: 80%; */
}

.modal-content h2 {
  margin: 0 0 20px 0;
  font-size: 24px;
}

.modal-content button {
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  color: #000;
  background: linear-gradient(to right, #00ff7f, #87ceeb);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.modal-content button:hover {
  background: linear-gradient(to right, #00ff80d3, #87cfebcd);
}

.right,
.left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.right {
  justify-content: center;
}

.instructions {
  text-align: center;
}

#logo {
  font-family: "Montserrat", sans-serif;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 4em;
  color: "black";
  background: linear-gradient(to right, #00ff7f, #87ceeb);
  z-index: 1100;
  margin: 60px;
  padding: 20px;
  border-radius: 10px;
}

.audio-visualization {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  width: 70%;
  height: 20%;
  padding: 25px;
  box-shadow: 10px 10px 20px #3a3a3a7a, -10px -10px 20px #08080858;
  border-radius: 35px;
}

.audio-visualization canvas {
  width: 100%;
  height: 80%;
  display: block;
  z-index: 900;
  /* Center vertically and horizontally */
}

.right .content {
  /* background: #e0e0e0; */
  /* box-shadow: 10px 10px 20px #3a3a3a7a, -10px -10px 20px #08080858; */
  border-radius: 20px;
  padding: 20px;
  width: 80%;
  height: 60%;
  text-align: center;
}

.command-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.command-list li {
  background: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), -5px -5px 15px rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
